img.bouge {
  animation: wiggle 1s linear 60;
}

/* Keyframes */
@keyframes wiggle {

  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-25deg);
  }

  20% {
    transform: rotateZ(15deg);
  }

  25% {
    transform: rotateZ(-15deg);
  }

  30% {
    transform: rotateZ(10deg);
  }

  35% {
    transform: rotateZ(-7deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

html {
  background-color: #EBEBFF;
}

nav {
  display: flex;
  justify-content: space-between;
  border: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #868686;
}

#containertimer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  background-color: #86bafd;
  width: 78px;
  height: 29px;
  margin-top: 2px;
  flex-shrink: 0;
  margin-bottom: 7px;
  margin-right: 10px;
}

#imgChrono {
  width: 27px;
  height: 27px;
  transform: rotate(-36.607deg);
  flex-shrink: 0;
  margin-bottom: 20px;
  margin-right: 0px;
}

#timer {
  font-family: Rubik;
  font-style: italic;
  margin-right: 10px;
  color: #000000;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  line-height: normal;
  flex-shrink: 0;
}

#imglogo {
  width: 45px;
  height: 38px;
  margin-right: 190px;
  flex-shrink: 0;
  margin-top: -1px;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 4px;

}